body {
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont;
  background:#050b12;
  color:#fff;
}

a { color:#00ffe1; text-decoration:none }

header {
  padding:25px;
  text-align:center;
  background:linear-gradient(90deg,#00ffe1,#7b5cff);
  color:#000;
}

.container {
  max-width:1000px;
  margin:auto;
  padding:20px;
}

.app {
  background:#0b1220;
  border-radius:16px;
  padding:15px;
  display:flex;
  gap:15px;
  margin-bottom:15px;
}

.app img {
  width:70px;
  height:70px;
  border-radius:14px;
}

button {
  padding:8px 12px;
  border:none;
  border-radius:10px;
  background:linear-gradient(90deg,#00ffe1,#7b5cff);
  font-weight:bold;
  cursor:pointer;
}

input, textarea {
  width:100%;
  padding:8px;
  margin:5px 0;
  border-radius:8px;
  border:none;
}
